@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

:root {
  --backgroundcolor: #d1d5db;
  --primarycolor: #1d4ed8;
  --secondarycolor: #60a5fa;
}
body {
  background-color: var(--backgroundcolor);
}
.navigation {
  background-color: var(--primary-color);
  color: var(--primarycolor);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
  background-color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.navigation .link {
  color: var(--secondarycolor);
  text-decoration: none;
}

.navigation .link-active {
  font-weight: bold;
}
.input-box {
  color: var(--primarycolor);
  text-decoration: bold;
  border-color: #1d4ed8;
  text-align: center;
}
.button {
  background-color: var(--secondarycolor);
  border-color: var(--primarycolor);
  border-radius: 1rem;
  padding: 0.5rem;
}
.side-input {
  background-color: var(--secondarycolor);
  border-radius: 1rem;
  border-color: var(--primarycolor);
  align-items: center;
}

.button-check {
  background-color: var(--secondarycolor);
  border-color: var(--primarycolor);
  border-radius: 1rem;
  padding: 0.5rem;
}
.angle-input {
  background-color: var(--secondarycolor);
  border-radius: 1rem;
  border-color: var(--primarycolor);
  align-items: center;
}
.length-input {
  background-color: var(--secondarycolor);
  border-radius: 1rem;
  border-color: var(--primarycolor);
  align-items: center;
}
